.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
h2{
    color: #fff;
}
.numberCircle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 12px;

    background: #1A2631;
    border-radius: 50px;
   
    /* box-shadow: 0 4px 30px rgba(127, 15, 15, 0.816); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  
   
    color: #fff;
    text-align: center !important;
}