.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.numberCircle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 12px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center !important;
}