@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Karla:wght@300;400;500&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700;1,800&family=Montserrat:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oxygen:wght@300;400;700&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

.welcome-stats-grid {
    /* border: 2px  red; */
    /* border-radius: 70px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding: 50px;
    background-color: #101D2B;
    /* background-image:linear-gradient(
        #ED1F27, #2b2b2b) */
}
.h3{
    font-family: 'Black Ops One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Karla:wght@300;400;500&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700;1,800&family=Montserrat:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oxygen:wght@300;400;700&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
    font-size: 16px;
}
.welcome-stats-grid-h1 {
    font-family: 'Black Ops One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Karla:wght@300;400;500&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700;1,800&family=Montserrat:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oxygen:wght@300;400;700&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap')
  }
.total-avg-fighter-stats{
    /* background: rgba(36, 32, 32, 0.738); */
    background: rgba(255, 255, 255, 0.738);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  
}
h1{
    color: #f0ffff;
}
.p1, .p2{
    color:#dee1e1;
}
.schedule-stats{
    height: 200px;
}
.stats{
    height: 300px;
}
.schedule-stats-grid {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding: 50px;
    /* background-color: rgb(116, 92, 64); */
  
}
.fighter{
    /* background-image: url(../images/compares.svg); */
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: -50px;
}
.nextfight-stats-grid {
    color: black;
    display: row;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-gap: 40px;
    margin-right: 30px;
    padding: 5px;
    /* background-color: rgb(116, 92, 64); */
    background: rgba(255, 255, 255, 0.738);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.nextfight-bar{

    background: rgba(255, 255, 255, 0.738);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.upcoming{
    font-family: 'Black Ops One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Karla:wght@300;400;500&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700;1,800&family=Montserrat:wght@400;600;700&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oxygen:wght@300;400;700&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
    font-size: 16px;
}
.schedule-chart {

    margin-top: -20px;
    height: 320px;
    width: 320px;
}
.schedule-stats {
    margin-top: 10px;
    height: 350px;
    width: 350px;
  align-items: baseline;
    grid-gap: 50px;
    background: rgba(255, 255, 255, 0.738);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* background-color: rgb(116, 92, 64); */
}