/* img {
    height: 100px;
    width: auto;
} */
.fighters-stats-all{
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
}
.fight-stat-pie{
    height:140px;
    width: 350px;
    padding: 5px;
    text-align: left;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr;

}
.fighter-graphs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap:24px;
    margin-left: 180px;
}
.form-control{
    width: 400px;

}
.fighterstat-fightpage{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: 8px;
    display: grid;
grid-gap:20px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
}
.fight-stat-bar{
    display: grid;
 margin-top: 120px;
    display: grid;
    height:150px;
    width: 300px;
  
}
primary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    /* border-color: #ED1F27; */
    border: none;
}

.btn-primary {
    color: rgb(14, 14, 14);

    background-color: #ffffff;
    box-shadow: 0 2px 30px rgb(18, 19, 66);
    backdrop-filter: blur(5px);
    border-color: #63686e;
    border-radius: 50px;
    width: auto;
}
.btn-primary:hover{
    background-color: #fff;
    border: none;
}
.btn-primary:focus{
    background-color: #fff;
    border: none;
}


.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #D5AB6D !important;
    border-color: #a27e47 !important;
}
